@model TechCareerActivityProject.DAL.Models.Home

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section id="intro">

    <div class="container">
        <div class="row">
            <div class="span12">
                <div id="mainslider" class="flexslider">
                    <ul class="slides">
                        <li data-thumb="~/lumia/assets/img/slides/flexslider/londra'daki_en_guzel_10_konser_alanı_the_o2_637107262533473648.jpg">
                            <img src="~/lumia/assets/img/slides/flexslider/londra'daki_en_guzel_10_konser_alanı_the_o2_637107262533473648.jpg" alt="" />
                            <div class="flex-caption primary">
                                <h2>Bootstrap</h2>
                                <p>Lorem ipsum dolor sit amet vix ceteros noluisse intellegat</p>
                            </div>
                        </li>
                        <li data-thumb="~/lumia/assets/img/slides/flexslider/img2.jpg">
                            <img src="~/lumia/assets/img/slides/flexslider/img2.jpg" alt="" />
                            <div class="flex-caption warning">
                                <h2>Responsive layout</h2>
                                <p>Lorem ipsum dolor sit amet vix ceteros noluisse intellegat</p>
                            </div>
                        </li>
                        <li data-thumb="~/lumia/assets/img/slides/flexslider/img3.jpg">
                            <img src="~/lumia/assets/img/slides/flexslider/img3.jpg" alt="" />
                            <div class="flex-caption success">
                                <h2>Rich of features</h2>
                                <p>Lorem ipsum dolor sit amet vix ceteros noluisse intellegat</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</section>
<section id="maincontent">
    <div class="container">

        <div class="row">
            
        </div>

        <div class="row">
            
                @foreach (var item in Model.ConcertList)
                {
            <div class="span3 features e_pulse">
                    <img src="~/lumia/assets/img/dummies/concert/@item.ConcertImage" alt="" width="250" height="220" />
                <div class="box">
                    <div class="divcenter">
                        <a href="#"><i class="icon-circled icon-48 icon-magic active icon"></i></a>
                        <h4><b>@item.ConcertName</b><br />@item.ConcertType</h4>
                        <p><i class="icon-calendar"></i>@item.ConcertTime</p>
                        <p><i class="icon-map-marker"></i>@item.ConcertLocation</p>
                    </div>
                </div>
            </div>
            }
           
        </div>

        <div class="row">
            <button type="button" class="btn btn-success btn-lg btn-block">TÜMÜNÜ GÖR</button>
        </div>

        <div class="row">

            @foreach(var item in Model.FestivalList){
            <div class="span3 features e_pulse">
                    <img src="~/lumia/assets/img/dummies/festival/@item.FestivalImage" alt="" width="250" height="220" />
                <div class="box">
                    <div class="divcenter">
                        <a href="#"><i class="icon-circled icon-48 icon-magic active icon"></i></a>
                        <h5><b>@item.FestivalName</b><br />@item.FestivalType</h5>
                        <p><i class="icon-calendar"></i>@item.FestivalTime</p>
                        <p><i class="icon-map-marker"></i>@item.FestivalLocation</p>
                    </div>
                </div>
            </div>
            }

        </div>

        <div class="row">
            <button type="button" class="btn btn-success btn-lg btn-block">TÜMÜNÜ GÖR</button>
        </div>

        <div class="row">

            @foreach(var item in Model.StageList){
            <div class="span3 features e_pulse">
                    <img src="~/lumia/assets/img/dummies/stage/@item.StageImage" alt="" width="250" height="220" />
                <div class="box">
                    <div class="divcenter">
                        <a href="#"><i class="icon-circled icon-48 icon-magic active icon"></i></a>
                        <h4><b>@item.StageName</b><br />@item.StageType</h4>
                        <p><i class="icon-calendar"></i>@item.StageTime</p>
                        <p><i class="icon-map-marker"></i>@item.StageLocation</p>
                    </div>
                </div>
            </div>
            }
            
        </div>

        <div class="row">
            <button type="button" class="btn btn-success btn-lg btn-block">TÜMÜNÜ GÖR</button>
        </div>

        <div class="row">

            @foreach(var item in Model.ExhibitionList){
            <div class="span3 features e_pulse">
                    <img src="~/lumia/assets/img/dummies/exhibition/@item.ExhibitionImage" alt="" width="250" height="220" />
                <div class="box">
                    <div class="divcenter">
                        <a href="#"><i class="icon-circled icon-48 icon-magic active icon"></i></a>
                        <h4><b>@item.ExhibitionName</b><br />@item.ExhibitionType</h4>
                        <p><i class="icon-calendar"></i>@item.ExhibitionTime</p>
                        <p><i class="icon-map-marker"></i>@item.ExhibitionLocation</p>
                    </div>
                </div>
            </div>
            }
           
        </div>

        <div class="row">
            <button type="button" class="btn btn-success btn-lg btn-block">TÜMÜNÜ GÖR</button>
        </div>

        <br /><br />

        <div class="row">
            <div class="span12">
                
                <div class="row">
                    

                    <div class="span12">
                        <div id="latest-work" class="carousel btleft">
                            <div class="carousel-wrapper">
                                <ul class="da-thumbs">

                                    @foreach(var item in Model.ImageList){
                                    <li>
                                            <img src="~/lumia/assets/img/dummies/concert/@item.ImageUrl" alt="" width="150" height="170" />
                                        <article class="da-animate da-slideFromRight">
                                            <a class="zoom" data-pretty="prettyPhoto" href="assets/img/dummies/big1.jpg">
                                                <i class="icon-zoom-in icon-rounded icon-48 active"></i>
                                            </a>
                                            <a href="@item.Link">
                                                <i class="icon-link icon-rounded icon-48 active"></i>
                                            </a>
                                            <div class="hidden-tablet">
                                                <p>Serenity theme</p>
                                            </div>
                                        </article>
                                    </li>
                                    }
                                    

                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

